.main {
    padding: 50px;
}

.btn-secondary {
    background-color: #d9d9d9 !important;
    color: black !important;
    border: none !important;
}

.btn-dark {
    background-color: #5b2c87 !important;
    border: none !important;
}