@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
#menu {
    width: 1550 px;
    border: 1px solid;
    height: 120px;
    background-color: #181818;
    font-size: 13px;
}

#menu ul {
    list-style: none;
}

#menu ul li {    
    display: inline;
    width: 1535px;
    height: 200px;
}

#menu li a:link {
   color: #FFF;
   text-decoration: none;
   text-transform: uppercase;
   margin: 20px;
   padding: 20px;
   
}
#menu li {
    color: #FFF;
}

              
#menu ul li a:visited {
   color: #FFF;
   text-decoration: none;
   text-transform: uppercase;
}
              
#menu ul li a:hover {
   color: #FFF;
   background-color: #4536A7;
   -webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.93);
   -moz-box-shadow:    0px 4px 5px rgba(50, 50, 50, 0.93);
   box-shadow:         0px 4px 5px rgba(50, 50, 50, 0.93);
}

.logo {
    width: 150px;
    height: 150px;
    margin-top: -18px;
}

.user {
    width: 50px;
    height: 50px;
    margin-left: 200px;
}

.noti {
    width: 50px;
    height: 50px;
    margin-left: 40px;
    margin-right: 40px;
}